<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/Add%20Icons%20to%20Any%20Menu.css">
    <title>Menu Hover</title>
  </head>
  <body>
<ul id="menu">
  <ul>
    <center>
<li><a href="#"><i class="ion-home"></i> Home</a></li>
<li><a href="#"><i class="ion-ios-heart"></i> Works</a></li>
<li><a href="#"><i class="ion-android-contact"></i> About</a></li>
<li><a href="#"><i class="ion-android-contacts"></i> Contcat</a></li>
<li><a href="#"><i class="ion-cube"></i> Buy</a></li>
</center>
</ul>
</ul>
</body>
</html>

