<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/Buttons%20With%20Awesome%20Hover%20Effects.css">
    <title></title>
  </head>
  <body>
<div class="btns">
  <a class="ion-android-compass" style="background:#F44336;" href="#"></a>
  <a class="ion-android-mail" style="background:#2196F3;"  href="#"></a>
  <a class="ion-android-lock" style="background:#4caf50;"  href="#"></a>
  <a class="ion-social-twitch" style="background:#ff9800;"  href="#"></a>
  <a class="ion-android-folder" style="background:#795548;"  href="#"></a>
</div>
</body>
</html>

