<div class="nav">
    <ol class="my-list">
        <li><a href={% url 'homepage' %}>Homepage</a></li>
        <li><a href={% url 'Shirley' %}>Shirley</a></li>
        <li><a href={% url 'book_list' %}>Book</a></li>
        <li><a href={% url 'person_list' %}>Person</a></li>
        <li><a href={% url 'f_duixiang' %}>f_duixiang</a></li>
        <li><a href={% url 'q_duixiang' %}>q_duixiang</a></li>
        <li><a href={% url 'raw_sql' %}>raw_sql</a></li>
        <li><a href={% url 'raw_sql_m_m' %}>raw_sql_m_m</a></li>
        <li><a href={% url 'self_table' %}>self_table</a></li>
        <li><a href={% url 'area_list' %}>area_list</a></li>
        <li><a href={% url 'cookie' %}>cookie</a></li>
        <li><a href={% url 'session' %}>session</a></li>
    </ol>
</div>