<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style-2.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>
<div class="show-login-btn"><i class="fas fa-sign-in-alt"></i>show log in</div>



<div class="login-box">
    <div class="hide-login-btn"><i class="fas fa-times"></i></div>
    <form class="login-form" action="index.html" method="post">

        <h1>Welcome</h1>
        <input class="txtb" type="text" name="" placeholder="Username">
        <input class="txtb" type="password" name="" placeholder="Password">
        <input class="login-btn" type="submit" name="" value="Login">

    </form>

</div>
{#<script type="text/javascript">#}
{#    $(".show-login-btn").on("click",function () {#}
{#        $(".login-box").toggleClass("showed");#}
{#    });#}
{#        $(".hide-login-btn").on("click",function () {#}
{#        $(".login-box").toggleClass("showed");#}
{#    });#}
{##}
{#</script>#}

</body>
</html>