<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="decription" content="Awesome Web Blog">
    <meta name="keyword" content="web design blog,web dev blog">
    <title>My Blog</title>
    <style type="text/css">
        #main-header{
            text-align: center;
            background-color: black;
            color: white;
            padding: 10px;
        }
        #main-footer{
            text-align: center;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <header id="main-header">
        <h1>My Webste</h1>
    </header>

    <section>
        <article class="post">
                <h3>Blog post 1</h3>
                <small>Posted by Daniel on June 24 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusamus alias culpa dignissimos dolor dolores et, facilis illo ipsam minima nobis non, nostrum optio pariatur praesentium quia quod sed suscipit voluptatum.
                </p>
        </article>
        <article class="post">
                <h3>Blog post 3</h3>
                <small>Posted by Daniel on June 24 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusamus alias culpa dignissimos dolor dolores et, facilis illo ipsam minima nobis non, nostrum optio pariatur praesentium quia quod sed suscipit voluptatum.
                </p>
        </article>
        <article class="post">
                <h3>Blog post 3</h3>
                <small>Posted by Daniel on June 24 2019</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Accusamus alias culpa dignissimos dolor dolores et, facilis illo ipsam minima nobis non, nostrum optio pariatur praesentium quia quod sed suscipit voluptatum.
                </p>
        </article>
    </section>


    <aside>
        <h3>Categories</h3>
        <nav>
        <ul>
            <li><a href="#">Categories 1</a></li>
            <li><a href="#">Categories 2</a></li>
            <li><a href="#">Categories 3</a></li>
        </ul>
        </nav>
    </aside>
    <footer id="main-footer">
        <p>Copyright &copy; 2019, My Website</p>
    </footer>
</body>
</html>