<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/Pricing%20Tables.css">
    <title>Pricing Tables</title>
  </head>
  <body>
<div class="pt">
  <div class="box">
 <h2 class="header" style="
    background: #2196F3;
">
Simple</h2>
<ul>
<li class="cash"><span>$29.99</span> per month</li>
<li>Free Account</li>
<li>15 Email Account</li>
<li>100 Gb Space</li>
<li>1 Domain Name</li>
<li><a href="#">add to cart</a></li>
</ul>
</div>
<div class="box">
  <h2 class="header" style="
    background: #FFC107;
">
Standard</h2>
<ul>
<li class="cash"><span>$59.99</span> per month</li>
<li>Free Account</li>
<li>15 Email Account</li>
<li>100 Gb Space</li>
<li>1 Domain Name</li>
<li><a href="#">add to cart</a></li>
</ul>
</div>
<div class="box">
  <h2 class="header" style="
    background: #F44336;
">
Ultimate</h2>
<ul>
<li class="cash"><span>$79.99</span> per month</li>
<li>Free Account</li>
<li>15 Email Account</li>
<li>100 Gb Space</li>
<li>1 Domain Name</li>
<li><a href="#">add to cart</a></li>
</ul>
</div>
</div>
</body>
</html>

