<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reponsive Login Form</title>
    <link rel="stylesheet" href="../static/css/ResponsiveLoginForm.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
  </head>
  <body>
<div class="d1">

</div>
<div class="login">
  <form class="" action="index.html" method="post">
    <h2>
Login Form</h2>
<label for="">Email :</label>
    <input class="txtb" type="text" name="" value="">
    <label for="">Password :</label>
    <input class="txtb" type="password" name="" value="">
    <div class="check">

    <input type="checkbox" name="" value="">
    <span>Remamber Me</span>

  </div>
<input class="btn" type="button" name="" value="Login">
  </form>
</div>
</body>
</html>

