<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive</title>
    <link rel="stylesheet" href="../static/css/Responsive.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
    <div class="services-section">
        <div class="inner-width">
            <h1 class="section-title">My Responsive Page</h1>
            <div class="border"></div>
                <div class="services-container">
                    <div class="services-box">
                        <div class="service-icon">
                            <a href={% url 'book_list' %}><i class="fas fa-paint-brush"></i></a>
                        </div>
                        <div class="service-title">Book List</div>
                        <div class="service-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A bland
                            itiis, cupiditate explicabo illum impedit mollitia neque rerum!
                            Alias cumque, dicta dignissimos e
                        </div>
                    </div>
                                        <div class="services-box">
                        <div class="service-icon">
                            <a href={% url 'book_list' %}><i class="fas fa-code"></i></a>
                        </div>
                        <div class="service-title">Person List</div>
                        <div class="service-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A bland
                            itiis, cupiditate explicabo illum impedit mollitia neque rerum!
                            Alias cumque, dicta dignissimos e
                        </div>
                    </div>
                                        <div class="services-box">
                        <div class="service-icon">
                            <i class="fas fa-brush"></i>
                        </div>
                        <div class="service-title">Responsive Design</div>
                        <div class="service-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A bland
                            itiis, cupiditate explicabo illum impedit mollitia neque rerum!
                            Alias cumque, dicta dignissimos e
                        </div>
                    </div>
                                        <div class="services-box">
                        <div class="service-icon">
                            <i class="fas fa-object-ungroup"></i>
                        </div>
                        <div class="service-title">Edit Section</div>
                        <div class="service-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A bland
                            itiis, cupiditate explicabo illum impedit mollitia neque rerum!
                            Alias cumque, dicta dignissimos e
                        </div>
                    </div>
                                        <div class="services-box">
                        <div class="service-icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <div class="service-title">Databases</div>
                        <div class="service-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A bland
                            itiis, cupiditate explicabo illum impedit mollitia neque rerum!
                            Alias cumque, dicta dignissimos e
                        </div>
                    </div>
                                        <div class="services-box">
                        <div class="service-icon">
                            <i class="fab fa-android"></i>
                        </div>
                        <div class="service-title">Android</div>
                        <div class="service-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A bland
                            itiis, cupiditate explicabo illum impedit mollitia neque rerum!
                            Alias cumque, dicta dignissimos e
                        </div>
                    </div>

                </div>
        </div>
    </div>

</body>
</html>