<!DOCTYPE html>
<html>
<head>
	<title>Web Page</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>
<body>
	<header id='main-header'>
		<div class="container">
			<h1>Website for Shirley</h1>
		</div>
	</header>

	<nav id='navbar'>
		<div class="container">
			<ul>
				<li><a href={% url 'homepage' %}>Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Services</a></li>
			</ul>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
			<h1>There is moutain,there is water,
			<br>There is monkey playing along,
			<br>There is you staring me from distance long</h1>
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>Welcome</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>

		<aside id="sidebar">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugia</p>
		</aside>
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2019/5/16 Daniel</p>
	</footer>
        <div class="icons">
            <a href="#" class="icon fas fa-heart">like</a>
            <a href="#" class="icon fas fa-comment">comment</a>
            <a href="#" class="icon fas fa-share">share</a>
        </div>
</body>
</html>