*{
    text-decoration: none;
}
.register{
    text-align: right;
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin-right: 30px;
}
.nav{
    height: 60px;
    background-color: #333;
    font-size: 18px;
    color: white;
    border: 2px solid #ffd32a;
    border-radius: 10px;
    width: max-content;
}
.nav li{
    color: white;
    /*background: #31354c;*/
    line-height: 30px;
    float: left;
    margin-left: 30px;
    list-style: none;
    text-decoration: none;
}
.nav a{
    color: white;
}

.container{
    width: 1200px;
    margin: auto;
}
.content{
    /*height: 800px;*/
    background-color: #2c0233;
    font-size: 24px;
    border: 5px solid greenyellow;
    border-radius: 18px;
    color: #fff;
}

.content image{
    position: absolute;
    left:50%;
    right: 50%;
}

.footer{
    height: 40px;
    background-color: #e15f41;
    font-size: 22px;

}
.custom-forms{
    border-radius: 9px;
    background-image: linear-gradient(45deg,#9fbaa8,#31354c);
    text-align: center;
    margin-top: 20px;
    width: 300px;
    color:#fff;
    cursor: crosshair;
    font-size: 23px;
}

.submit-btn{
    width: 240px;
    height: 30px;
    /*margin: 20px;*/
    background-color: #2c3e50;
    border: 0;
    padding: 10px;
    /*padding-bottom: 10px;*/
    color: #fff;
    margin-left: 160px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

