@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    font-family:'Poppins',SansSerif;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
}
.box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
}

.box:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #fff;
    z-index: -2;
    filter:blur(40px);
}
.box:before,

.box:after{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);

}
.content{
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.content a{
    text-decoration: none;
    color: #34ace0;
}
.content a:hover{
    color: #33d9b2;
}
